* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
	min-height: 100%;
}

body {
    font-family: $body-font;
    font-size: $body-font-size;
}

.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

@media only screen and (min-width: 569px) and (max-width: 768px) {
	.container {
		width: 90%;
	}
}